{% extends "base/base.html"%}

{%block extracss%}
<link href="{{STATIC_URL}}css/new_article.css" rel="Stylesheet"/>
{%endblock%}

{%block extrajs%}
<!-- tinyMCE -->
<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce-4.0.9/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/new_article.js"></script>
{%endblock%}
{%block content%}
<div class="main">
  <h1>{{ diary.title }}</h1> 
  <hr>
  {{ diary.creation_time }}
  {{ diary.readFromXML | safe }}
</div>
{%endblock%}
