{% load url from future %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ blog_config.title }}{% endblock %}</title>
    {% if settings.DEBUG %}<meta http-equiv="pragma" content="no-cache"/>{% endif %}
    <meta name="robots" content="index,follow">
    <meta name="author" content="{{ blog_config.meta_author }}">
    <meta name="keywords" content="{{ blog_config.meta_keywords }}">
    <meta name="description" content="{% block meta-description %}{{ blog_config.meta_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/style.css" rel="Stylesheet"/>
    <link href="{{ STATIC_URL }}css/jquery-ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    {% block extracss %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/1.10.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>

    <!--Fancybox, Optionally add helpers - button, thumbnail and/or media -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox-2.1.5/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox-2.1.5/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox-2.1.5/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL}}js/fancybox-2.1.5/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/fancybox-2.1.5/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <!-- tinyMCE -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce-4.0.9/tinymce.min.js?v=4.0.9"></script>
    {% block extrajs %}{% endblock %}
  </head>
{%block body%}
  <body>
    <div id="dashboard">
      <div id="links">
      <a id="travel" href="/travel"><img alt="Travel" src="{{ STATIC_URL }}images/travel.jpeg"/>
        <div class="travel">Travel</div></a>
      <a id="tech" href="/tech"><img alt="Tech" src="{{ STATIC_URL }}images/tech.jpeg"/>
        <div class="tech">Tech</div></a>
      <a id="recipe" href="/recipe"><img alt="Recipe" src="{{ STATIC_URL }}images/recipe.jpeg"/>
        <div class="recipe">Recipe</div></a> 
      <a id="light" href="/light"><img alt="Light" src="{{ STATIC_URL }}images/light.jpeg"/>
        <div class="light">Light</div></a>
      </div>
    <div id="triangle"></div>
    </div>

    {% block content %}

    {% block section%}{% endblock %}

    <div id="new_article">
      <form action="/edit/{{article_id}}" method="post">
        {{ form.as_p }}
        <p> <lable>Content:</lable><textarea name="content" id="ar_text"></textarea></p>
        <input type="submit" value="submit"/>
      </form>
    </div>

    <footer>
      <div class="homeicon">
        <span id="date_time"></span>
        <div id="shortcuts">
          <img src="{{STATIC_URL}}images/search.jpg" alt="search" id="search_icon"/>
          <a href="#dashboard" class="fancybox_dash"><img src="{{STATIC_URL}}images/home.png" alt="home" id="home_icon"/></a>
          <a href="#new_article" class="fancybox_new"><img src="{{STATIC_URL}}images/plus.jpg" alt="plus" id="new_article"/></a>
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
{% endblock %}
</html>
