{% load url from future %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ blog_config.title }}{% endblock %}</title>
    {% if settings.DEBUG %}<meta http-equiv="pragma" content="no-cache"/>{% endif %}
    <meta name="robots" content="index,follow">
    <meta name="author" content="{{ blog_config.meta_author }}">
    <meta name="keywords" content="{{ blog_config.meta_keywords }}">
    <meta name="description" content="{% block meta-description %}{{ blog_config.meta_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/style.css" rel="Stylesheet"/>
    <link href="{{ STATIC_URL }}css/jquery-ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    {% block extracss %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/1.10.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
    {% block extrajs %}{% endblock %}
  </head>
{%block body%}
  <body>
    <div id="dashboard">
      <a id="travel" href="/travel"><img alt="Travel" src="{{ STATIC_URL }}images/travel.jpeg"/>
        <div class="travel">Travel</div></a>
      <a id="tech" href="/tech"><img alt="Tech" src="{{ STATIC_URL }}images/tech.jpeg"/>
        <div class="tech">Tech</div></a>
      <a id="recipe" href="/recipe"><img alt="Recipe" src="{{ STATIC_URL }}images/recipe.jpeg"/>
        <div class="recipe">Recipe</div></a> 
      <a id="light" href="/light"><img alt="Light" src="{{ STATIC_URL }}images/light.jpeg"/>
        <div class="light">Light</div></a>
    </div>
    <div id="triangle"></div>
    {% block content %}
    <!--header id="mainhead">
      <div class="logo">
        <a href="/home"><img src="{{STATIC_URL}}images/logo.png"></a>
      </div>
      <div class="new">
        <span>add</span>
      </div>
      <div class="nav">
        <ul>
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/travel">Travel</a>
          </li>
          <li>
            <a href="/tech">Tech</a>
          </li>
          <li>
            <a href="/recipe">Recipe</a>
          </li>
          <li>
            <a href="/brainstorm">Light</a>
          </li>
        </ul>
      </div>
    </header -->

    {% block section%}{% endblock %}
    
    <footer>
      <div class="homeicon">
        <span id="date_time"></span>
        <img src="{{STATIC_URL}}images/home.png" alt="home"/>
      </div>
    </footer>
    {% endblock %}
  </body>
{% endblock %}
</html>
