<!DOCTYPE html>
<html><head>
    <title>QQ for Mac官方网站</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="guoqinggu,bellameyuan,boatinchen,gabylu,rickycai">
    <meta name="keywords" content="QQ，QQ for Mac，腾讯QQ for Mac">
    <meta name="description" content="QQ for Mac官网，下载QQ for Mac，下载QQ for Mac最新版">
    <link rel="stylesheet" href="http://im.qq.com/macqq/css/5/style.css?t=20130529" media="screen" charset="utf-8">
    <link rel="Shortcut Icon" href="favicon.ico">
    <link rel="Bookmark" href="favicon.ico">
    <link rel="prefetch" href="http://im-img.qq.com/macqq/images/icon.png?t=20130529">
    <!--[if IE]>
    <script type="text/javascript" src="http://im.qq.com/macqq/js/5/html5.js?t=3"></script>
    <![endif]-->
<script src="http://jqmt.qq.com/cdn_dianjiliu.js?a=0.7537656433414668"></script><script id="APC_cgi_ist" src="http://jqmtcs.qq.com/rtv.png?plf=3"></script></head>
<body>
<h1 id="hidH1" style="display: none;">QQ for Mac官方网站 QQ 腾讯QQ for Mac QQ for Mac</h1>
<h2 id="hidH2" style="display: none;">QQ for Mac官方网站，下载QQ for Mac，下载QQ for Mac最新版，登陆QQ for Mac官方网站，即可下载QQ for Mac</h2>
<h3 id="hidH3" style="display: none;">QQ for Mac官方网站，QQ，QQ for Mac，腾讯QQ for Mac，下载QQ for Mac</h3>
<script src="http://jsqmt.qq.com/cdn_djl.js" type="text/javascript" async=""></script><script type="text/javascript">
    //SEO
var h1 = document.getElementById("hidH1");
var h2 = document.getElementById("hidH2");
var h3 = document.getElementById("hidH3");
h1.style.display = "none";
h2.style.display = "none";
h3.style.display = "none";
</script>
<div id="home"></div>
<header id="top">
    <article id="naver">
        <a href="javascript:void(0);" id="logo"><img src="http://im-img.qq.com/macqq/images/logo.png?t=20120814" width="210px" height="60px" title="QQ for Mac" alt="QQ for Mac"></a>
        <nav id="nav">
            <a class="active" href="#home">首 页</a>
            <a href="#download">下 载</a>
            <a href="#story">故 事</a>
            <a href="#support">支 持</a>
            <a href="http://iblog.tencent.com" target="_blank">博 客<span class="new"></span></a>
        </nav>
    </article>
</header>
<div style="visibility: hidden;">
    <img src="http://im-img.qq.com/macqq/images/bannerBg1.jpg?t=20120814" alt="">
    <img src="http://im-img.qq.com/macqq/images/bodyBg.jpg?t=20120814" alt="">
</div>
<section id="topTips" style="display: none; top: 60px;">
    <p>诚邀您参加关于Mac QQ的满意度调查，以帮助我们更好的改进。<a href="http://exp.qq.com/ur/?urid=7913" style="color: #0884CD;" target="_blank">点击参与</a><!--<a href="javascript:void(0);" class="showInfo" style="color: #0884CD;">查看详情</a>-->
    </p>
    <a href="javascript:void(0);" class="close">关闭该提示</a>
</section>

<section id="bannerBg">
    <ul class="bannerC">
        <li class="banner1" style="z-index: 0; opacity: 0;">
            <div class="banner">
                <a href="javascript:void(0);" class="downloadNow" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" title="立即下载"></a><img src="http://im-img.qq.com/macqq/images/banner1.jpg?t=20130724" height="430px" width="960px" title="源自内心，回归纯粹" alt="源自内心，回归纯粹">
            </div>
        </li>
        <li class="banner4" style="z-index: 0; opacity: 0.1232183038491812;">
            <div class="banner">
                <a href="http://iblog.tencent.com" target="_blank"><img src="http://im-img.qq.com/macqq/images/banner4.jpg?t=20121114" height="430px" width="960px" title="MacQQ一周年" alt="MacQQ一周年">
                </a>
            </div>
        </li>
        <li class="banner2" style="z-index: 1; opacity: 0.8869201048632531;">
            <div class="banner">
                <img src="http://im-img.qq.com/macqq/images/banner2.jpg?t=20130724" height="430px" width="960px" title="源自内心，回归纯粹" alt="源自内心，回归纯粹">
                <!-- Start Html5Video -->
                <a href="javascript:void(0);" class="playBtn" title="play" onclick="pgvSendClick({hottag:&quot;MACQQ.ALL.PLAY.PLAYBUTTON&quot;});" onmousedown="pgvSendClick({hottag:&quot;MACQQ.ALL.PLAY.PLAYBUTTON&quot;});" style="display:none;">
                </a>
                <video id="Html5Video" width="665" onclick="if(/Android/.test(navigator.userAgent))this.play();" controls="controls" preload="meta" tabindex="0" style="display:none;">
                    您的浏览器不支持HTML5视频
                    <source src="http://im-img.qq.com/macqq/video/video.mp4?t=20120814" type="video/mp4">
                    <source src="http://im-img.qq.com/macqq/video/video.webm?t=20120814" type="video/webm">
                    <source src="http://im-img.qq.com/macqq/video/video.ogv?t=20120814" type="video/ogg">
                </video>
                <!-- End Html5Video -->
            </div>
        </li>
        <li class="banner3" style="z-index: 0; opacity: 0;">
            <div class="banner">
                <img src="http://im-img.qq.com/macqq/images/banner3.jpg?t=20130502" height="430px" width="960px" title="纯粹、引领、趋势、梦想" alt="纯粹、引领、趋势、梦想">
            </div>
        </li>
    </ul>
    <ul class="bannerMenu">
        <li class="">1</li>
        <li class="">2</li>
        <li class="on">3</li>
        <li class="">4</li>
    </ul>
</section>

<section id="wrapper">
<article id="box">
    <div class="boxL features">
        <div class="title2"><h2>特色功能</h2></div>
        <dl>
            <dt class="ico icoTailored" title="当QQ遇上Mac"></dt>
            <dd>
                <h3>当QQ遇上Mac</h3>完全根据苹果Mac OS X的特性和气质所量身打造的本地化QQ，更快更稳定。同时，为Mac OS X优化消息通知机制和个性化头像，让您的QQ更纯粹。
            </dd>
        </dl>
        <dl>
            <dt class="ico icoCrossTerminal" title="跨终端即时通讯，让您与TA零距离"></dt>
            <dd>
                <h3>跨终端即时通讯，让您与TA零距离</h3>完善的跨终端即时通讯能力，使得Mac可以与PC、手机、Pad等终端的QQ进行无缝沟通，让您的交流更畅快。
            </dd>
        </dl>
        <dl>
            <dt class="ico icoVoice" title="QQ for Mac支持与PC及iPhone等多终端的视频和语音功能"></dt>
            <dd>
                <h3>QQ for Mac支持与PC及iPhone等多终端的视频和语音功能</h3>
                QQ for Mac支持与QQ2011及以上版本的视频和语音功能。丰富的沟通媒介，让您与TA的生活更加贴近，让交流充满乐趣与真实。
            </dd>
        </dl>
        <dl>
            <dt class="ico icoMoreFeatures" title="更多功能让工作更高效，交流更愉悦"></dt>
            <dd>
                <h3>更多功能让工作更高效，交流更愉悦</h3>
                QQ for Mac全面支持文件和文件夹的传输，让您的工作效率更高。同时，独特的屏幕分享方便您与您的家人、朋友、同事分享生活中的点滴愉悦。
            </dd>
        </dl>
    </div>
    <div class="boxR">
        <div class="weibo">
            <a target="_blank" href="http://t.qq.com/Macqq" class="ico icoTencentWeibo" title="腾讯微博" onclick="pgvSendClick({hottag:'MACQQ.ALL.SNS.TX'});">
            </a><a target="_blank" href="http://weibo.com/u/2426883100" class="ico icoSinaWeibo" title="新浪微博" onclick="pgvSendClick({hottag:'MACQQ.ALL.SNS.SINA'});"></a>
        </div>
        <div class="rBox Plug-in">
          <a href="javascript:void(0);" class="dw" onclick="showdownloadtips();"></a>
          <div class="ico icoPlug-in"></div>
          <h4>QQ For Mac 插件</h4>
            <p>丰富的拓展性，让您的QQ更加得心应手</p>
        </div>
        <div class="rBox questions">
            <h4><span class="ico icoQuestions"></span>常见问题</h4>
            <ul>
                <li><a href="javascript:void(0);">V2.4版本的数据文件升级有什么需要注意的吗？</a></li>
                <li><a href="javascript:void(0);">数据文件升级后，旧的数据文件还会保留吗？</a></li>
                <li><a href="javascript:void(0);">为什么V2.4版本没有新建QQ功能了呢？</a></li>
                <li><a href="javascript:void(0);">我的系统版本是10.5.8，怎么使用最新版本的QQ for Mac呢？</a></li>
            </ul>
        </div>
        <div class="rBox">
            <p class="terminal">
                <a target="_blank" href="http://im.qq.com/macqq" class="ico icoMacQQ" title="MacQQ">MacQQ</a>
                <span class="ico terminalLine1"></span>
                <a target="_blank" href="http://mobile.qq.com/iphone/" class="ico icoIphoneQQ" title="iphoneQQ">iphoneQQ</a>
                <span class="ico terminalLine2"></span>
                <a target="_blank" href="http://im.qq.com/qq/apple/ipad/" class="ico icoIpadQQ" title="ipadQQ">ipadQQ</a>
            </p>
        </div>
        <a target="_blank" href="http://itunes.apple.com/cn/app/qq/id451108668?mt=12"><img src="http://im-img.qq.com/macqq/images/MacAppStore.png?t=20120814" width="203px" height="61px" title="Available on the Mac App Store"></a>
    </div>
    <footer class="subFooter">
        <img src="http://im-img.qq.com/macqq/images/subFooter1.png?t=20120814" width="339px" height="15px"></footer>
</article>

<article id="download">
    <header>
        <div class="downloadBanner">
            <div id="slide">
                <a href="javascript:void(0);" id="slider" title="把安装拖动到右边" class="ui-draggable"></a>
                <span id="pointer" style="display:none;"></span>
            </div>
            <div class="seeVersion">
              <a href="javascript:void(0);" class="downloadQQ" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;}" title="点此直接下载"></a>
                支持OS X 10.6.6 Snow Leopard或更高版本
                <a href="javascript:void(0);" class="moreVersion" title="版本信息">版本信息</a>
            </div>
        </div>
    </header>
    <article>
        <h2>QQ for Mac 2.4.2新功能</h2>
        <div class="downloadIntroduction">
          <dl>
                <dt>
                    <img src="http://im-img.qq.com/macqq/images/feature/web001.jpg?t=20130427" width="260px" height="140px" title="支持系统Emoji表情" alt="支持系统Emoji表情">
                </dt>
                <dd>
                    <h3>支持系统Emoji表情</h3>
                    会话和个签可展示Emoji表情，换个方式绘出你的心情
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="http://im-img.qq.com/macqq/images/feature/web002.jpg?t=20130427" width="260px" height="140px" title="支持网页呼起QQ会话" alt="支持网页呼起QQ会话"></dt>
                <dd>
                    <h3>支持网页呼起QQ会话</h3>
                    快捷的沟通方式，轻轻一点，让服务更直接
                </dd>
            </dl>
            <dl>
                <dt><img src="http://im-img.qq.com/macqq/images/feature/web003.jpg?t=20130427" width="260px" height="140px" title="数据文件升级" alt="数据文件升级"></dt>
                <dd>
                    <h3>数据文件升级</h3>
                    消息读写性能提升，信息存储更加稳定
                </dd>
            </dl>
            <dl>
                <dt><img src="http://im-img.qq.com/macqq/images/feature/web004.jpg?t=20130427" width="260px" height="140px" title="讨论组头像优化" alt="讨论组头像优化"></dt>
                <dd>
                    <h3>讨论组头像优化</h3>
                    让讨论组更生动，快速定位到你的话题
                </dd>
            </dl>
            <dl>
                <dt><img src="http://im-img.qq.com/macqq/images/downloadIntroduction1.jpg?t=20130130" width="260px" height="140px" title="新增文件盒子" alt="新增文件盒子"></dt>
                <dd>
                    <h3>新增文件盒子</h3>
                    快捷管理收发过的文件，查找分享，一盒即成
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="http://im-img.qq.com/macqq/images/downloadIntroduction2.jpg?t=20130130" width="260px" height="140px" title="请求与通知面板" alt="请求与通知面板">
                </dt>
                <dd>
                    <h3>请求与通知面板</h3>
                    收集整理您的通知请求，同时让处理更便捷
                </dd>
            </dl>
            <div style="clear:both; height:0; overflow:hidden; line-header:0;"></div>
        </div>
        <footer class="subFooter">
            <img src="http://im-img.qq.com/macqq/images/subFooter2.png?t=20120814" width="295px" height="17px">
        </footer>
    </article>
</article>

<article id="story">
    <header>
        <div class="storyBanner" title="故事/story"></div>
    </header>
    <article>
        <h2>源自内心 回归纯粹</h2>
        <p>QQ for
            Mac诞生于一个特别的平台，在这个平台下，我们所面对的，是一群有态度，有品位，乐于接受新事物，对美有自己要求的用户。我们想要给他们带来的是与众不同的有立场的产品，传递给他们的，是一种更加纯粹、契合于平台的沟通体验。结合QQ
            for Mac产品，我们希望打造一个回归本质的即时通讯平台，它契合Mac与其他操作系统的差异化要素，通过简洁的体验回归沟通的本质，回归交流的纯粹。</p>
        <dl>
            <dt>设计理念：
            </dt><dt>
            </dt><dd>当QQ for Mac的理想是打造一个纯粹而不同的即时通讯软件时，那么我们的设计理念将不仅是口头宣言，而更是一种精神立场。诚实的，有深度的设计是透彻地考虑了所有细节后的决定。<br><br>
                在2.0的设计中，我们把QQ for Mac作为桌面的“太空舱”，在浩瀚的星空中引领探索，沉浸于无垠的宇宙中，回归本真的感动。
            </dd>
        </dl>
        <footer class="subFooter">
            <img src="http://im-img.qq.com/macqq/images/subFooter3.png?t=20120814" width="146px" height="13px">
        </footer>
    </article>
</article>

<article id="support">
    <header>
        <h2>支 持 / Support</h2>
    </header>
    <div class="boxL supportC">
      <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>V2.4版本的数据文件升级有什么需要注意的吗？</h3></dt> 
            <dd>
                <p>V2.4版本的数据文件升级，将使您的数据文件更加安全，并且大幅度提升您使用QQ时，文件的读写速度。数据文件升级的过程不会影响您QQ的正常使用。<br>数据文件升级后，如果您使用低于V2.4的版本，将无法正常查看聊天记录。</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>数据文件升级后，旧的数据文件还会保留吗？</h3></dt>
            <dd>
                <p>为了防止数据异常，您的旧版本数据文件仍将保留下来，位置为&lt;~/Library/Containers/com.tencent.qq/Data/Library/Application Support/QQ/您的QQ号码&gt;文件名是Msg2.0.db.history。
<br>您可以备份或者删除这个数据文件。</p>
            </dd>
        </dl>
	<dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>为什么V2.4版本没有新建QQ功能了呢？</h3></dt>
            <dd>
                <p>由于苹果上架的相关限制，我们去除了新建QQ按钮，但保留了新建QQ的快捷键command+N，在非首次启动的情况下，您可以使用command+N来达到多帐号登录的目的。</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>我的系统版本是10.5.8，怎么使用最新版本的QQ for Mac呢？</h3></dt>
            <dd>
                <p>您好，如果您的使用的是Intel CPU，您可以使用QQ for Mac V1.4.1版本与您的好友沟通，<a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V1.4.1.dmg" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});">点击下载</a>。V1.4.1是专为使用Intel CPU的10.5
                    Leopard用户特别定制，使用更稳定，更流畅。<br>另外，您也可以从Apple在线商店获取Mac OS X v10.6.5 Snow Leopard以升级当前系统，或者通过OS X Lion
                    USB闪盘直接获得Apple最新的操作系统体验，以便体验我们的最新版本。</p>

                <p>Apple在线商店相关链接：<br>Snow
                    Leopard：<a href="http://url.cn/2aPhDZ" target="_blank">http://url.cn/2aPhDZ </a><br>Lion：<a href="http://url.cn/1Agzjx" target="_blank">http://url.cn/1Agzjx</a></p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>PC QQ、iPhone QQ等与QQ for Mac视频语音对话功能互通，有版本限制吗？</h3></dt>
            <dd>
                <p>QQ for Mac的语音和视频功能可以同QQ2011Beta3版本、iPhone QQ2011 1.2版本以及QQ for Pad v1.4以上版本进行互通。</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>如何创建讨论组？</h3></dt>
            <dd>
                <p>创建讨论组有好几个途径：</p>
                <p>
                    1、通过点击主面板左下角的“添加”图标选择“创建讨论组”；<br>
                    2、在与好友的聊天窗口，点击“讨论组”图标以添加讨论组成员；<br>
                    3、在群成员面板上，通过点击“工具”按钮“创建讨论组”或同时选择数个群内成员，通过右键菜单创建。
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>现在有很多新消息的提醒方式，不知道这些能否自定义呢？</h3></dt>
            <dd>
                <p>QQ for Mac的消息提醒方式支持自定义，您可以对上方的meunbar图标，下方的Dock图标以及浮动提示框进行设置是否提示，方便您设定您习惯的消息提醒方式。</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h3><span class="ico icoQuestions"></span>QQ for Mac的快速登录插件怎么卸载呢？</h3></dt>
            <dd>
                <p>您可以前往 /Library/Internet Plug-Ins/目录下删掉 TXSSO插件。</p>
            </dd>
        </dl>
    </div>
    <div class="boxR">
        <div class="rBox manual">
            <dl>
                <dt>
                <h2>QQ for Mac</h2>
                产品帮助手册
                </dt>
                <dd><a href="javascript:void(0);" class="ico icoManual" title="QQ for Mac帮助手册"></a></dd>
            </dl>
        </div>
        <div class="rBox feedback">
            <dl>
                <dt>意见反馈</dt>
                <dd>如果您在使用MacQQ中遇到任何问题，请反馈给我们，我们非常愿意听到您的声音。</dd>
                <dd><a href="http://support.qq.com/discuss/23_1.shtml" target="_blank">我要反馈</a></dd>
            </dl>
        </div>
    </div>
    <footer class="subFooter"><img src="http://im-img.qq.com/macqq/images/subFooter4.png?t=20120814" width="295px" height="15px"></footer>
</article>
<footer>
    Copyright © 1998 - <script type="text/javascript">document.write((new Date()).getFullYear());</script>2013 Tencent. All Rights Reserved.<br>
    腾讯公司<a href="http://www.tencent.com/law/mo_law.shtml?/law/copyright.htm" target="_blank">版权所有</a>
</footer>
</section>

<div id="bodyMask2" style="display:none;"></div>
<div id="browser" class="layerDiv" style="display:none;">
    <h2>噢，您是否知道您正在使用的浏览器无法完全支持我们的页面？</h2>

    <h3>很抱歉，由于采用了HTML5，当前浏览器无法完美呈现该页面。</h3>

    <div><span>如果你还不知道什么是HTML5标准，请看<a href="http://zh.wikipedia.org/wiki/HTML5" target="_blank">维基百科</a>。</span>建议您使用以下浏览器的最新版本：
    </div>
    <ul>
        <li><a target="_blank" href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html" class="ico icoChrome" title="谷歌Chrome浏览器"></a></li>
        <li><a target="_blank" href="http://www.opera.com/" class="ico icoOpera" title="Opera浏览器"></a></li>
        <li><a target="_blank" href="http://www.firefox.com.cn/download/" class="ico icoFirefox" title="火狐浏览器"></a></li>
        <li>
            <a target="_blank" href="http://www.apple.com.cn/safari/download/" class="ico icoSafar" title="Safar浏览器"></a>
        </li>
    </ul>
    <p>
        <a href="javascript:void(0);" class="ico icoGt" onclick="openHtml();">知道了，但请还是打开页面</a>
        <a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V2.4.2.dmg" class="ico icoGt icoGtR">直接下载QQ for Mac最新版</a>
    </p>
</div>

<div id="bodyMask" style="display:none;"></div>

<div id="downloadWindows" class="windows downloadWindows" style="display:none;">
    <a href="javascript:void(0);" class="ico closeDiv" title="关闭">x</a>

    <div class="MacQQ141" style="display:none">
        <a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V1.4.1.dmg" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" class="downloadMacQQ141"><span class="ico downloadMacQQIco"></span>QQ for Mac 1.4.1<br>兼容intel CPU的Mac OS X 10.5 Leopard</a>

        <div>
            <h2>版本介绍：</h2>
            该版本以QQ for Mac 1.4作为基础， 为使用intel CPU的10.5 Leopard用户特别定制，使用流畅稳定。
            <ul>
                <li>视频和语音会话</li>
                <li>屏幕分享 (视频时)</li>
                <li>支持文件夹的传输</li>
                <li>全新消息通知体系</li>
                <li>更换个人头像</li>
                <li>代理登陆设置</li>
            </ul>
        </div>
    </div>
    <div class="MacQQ202" style="display:none">
        <h2>噢，您正在使用的Mac OS X版本为10.5 Leopard。</h2>

        <div>即将下载的QQ for Mac 2.3的系统要求是Mac OS X v10.6.5(Snow Leopard)及以上版本，无法在您的现在系统上运行，但您可以下载能够在10.5 Leopard上流畅运行的1.4.1版本。
        </div>
        <p>
            <a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V2.4.2.dmg" class="ico icoGt" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});">知道了，请继续下载</a>
            <a href="javascript:void(0);" id="go141" class="ico icoGt">进入10.5 Leopard版本下载页面</a>
        </p>
    </div>
</div>
<div id="downloadtips" class="downloadtips" style="display:none;">
  <div class="download-title"><h3 class="ico">QQ For Mac插件</h3></div>
        <div class="ico iconFile"></div>
        <a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQWebLogin.pkg" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.QQWebLogin&quot;});hiddendownloadtips();" target="_blank" class="ico icoDwBtn">快速登录</a>
        <p style="text-align:center;">(pkg文件，2.1MB)</p>
        <p class="dw-text dw-text-more">此插件仅能检测V2.3.0及以上版本客户端</p>
        <p class="dw-text dw-text-one">安装该插件后，在QQ For Mac已登录的状态下，您登录腾讯其他的服务会自动检测您QQ的状态，从而快速登录该服务。</p>
        <p class="dw-text dw-text-two">您安装该插件后，如登录腾讯其他服务时仍被要求输入帐号密码，请务必确认该网站的安全性，谨防钓鱼网站。</p>
        <a href="javascript:void(0);" onclick="hiddendownloadtips();" class="ico exit-btn">退出</a>
    </div>
<div class="windows" style="display:none;">
<a href="javascript:void(0);" class="ico closeDiv" title="关闭">x</a>
<article id="features">
<header>
    <h1>QQ for Mac产品手册</h1>
</header>
<ul class="manualList">
    <li class="active">
        <h2><a href="#manualList1">安装与下载</a></h2>
    </li>
    <li class="">
        <h2><a href="#manualList2">产品说明</a></h2>
    </li>
    <li class="">
        <h2><a href="#manualList3">支持沙盒</a></h2>
    </li>
    <li class="">
        <h2><a href="#manualList4">版本更新</a></h2>
    </li>
</ul>
<div class="details">
<div id="manualList1" class="detail active">
    <h3>通过apple.qq.com下载</h3>

    <p>第一步：打开QQ.dmg文件，进入QQ for Mac安装流程。</p>
    <img src="http://im-img.qq.com/macqq/images/help_1.jpg?t=20120814" width="315px" height="232px" title="第一步：打开QQ.dmg文件，进入QQ for Mac安装流程。" alt="第一步：打开QQ.dmg文件，进入QQ for Mac安装流程。">

    <p>第二步：确认软件许可协议后，安装包将自动进行解压安装。</p>
    <img src="http://im-img.qq.com/macqq/images/help_2.jpg?t=20120814" width="313px" height="111px" title="第二步：确认软件许可协议后，安装包将自动进行解压安装。" alt="第二步：确认软件许可协议后，安装包将自动进行解压安装。">

    <p>第三步：最后将QQ for Mac应用程序拖入Applications文件夹完成安装。</p>
    <img src="http://im-img.qq.com/macqq/images/help_3.jpg?t=20120814" width="320px" height="209px" title="第三步：最后将QQ for Mac应用程序拖入Applications文件夹完成安装。" alt="第三步：最后将QQ for Mac应用程序拖入Applications文件夹完成安装。">

    <h3>通过App Store安装</h3>

    <p>Mac OS X v10.6.5 或更高版本系统的 Mac 用户也可以通过App Store下载安装QQ for Mac</p>

    <p>第一步：安装App Store，点击 Apple 图标，然后选择“软件更新”。桌面上随即出现一个对话框。点击对话框中的“安装”按钮，即刻开始安装。最后，你需要按提示重启 Mac 来完成整个安装。</p>

    <p>第二步：进入App Store页面后，在搜索框输入关键字“QQ”，点击进入QQ详细信息页面，QQ for Mac为免费软件。</p>
    <img src="http://im-img.qq.com/macqq/images/help_4.jpg?t=20120814" width="500px" height="176px" title="第二步：进入App Store页面后，在搜索框输入关键字“QQ”，点击进入QQ详细信息页面，QQ for Mac为免费软件。" alt="第二步：进入App Store页面后，在搜索框输入关键字“QQ”，点击进入QQ详细信息页面，QQ for Mac为免费软件。">

    <p>第三步：点击免费App下载QQ，会弹出提示框输入帐号或创建新帐户，选择“创建Apple ID”。</p>
    <img src="http://im-img.qq.com/macqq/images/help_5.jpg?t=20120814" width="500px" height="160px" title="第三步：点击免费App下载QQ，会弹出提示框输入帐号或创建新帐户，选择“创建Apple ID”。" alt="第三步：点击免费App下载QQ，会弹出提示框输入帐号或创建新帐户，选择“创建Apple ID”。">

    <p>第四步：根据提示选择同意服务条款，进入创建帐户界面。</p>
    <img src="http://im-img.qq.com/macqq/images/help_6.jpg?t=20120814" width="500px" height="288px" title="第四步：根据提示选择同意服务条款，进入创建帐户界面。" alt="第四步：根据提示选择同意服务条款，进入创建帐户界面。">

    <p>第五步：在界面输入帐户ID等信息后点击“继续”进入“提供付款方式”界面。因下载的是免费软件，无需选择信用卡，也不需要填写信用卡信息。</p>
    <img src="http://im-img.qq.com/macqq/images/help_7.jpg?t=20120814" width="500px" height="288px" title="第五步：在界面输入帐户ID等信息后点击“继续”进入“提供付款方式”界面。因下载的是免费软件，无需选择信用卡，也不需要填写信用卡信息。" alt="第五步：在界面输入帐户ID等信息后点击“继续”进入“提供付款方式”界面。因下载的是免费软件，无需选择信用卡，也不需要填写信用卡信息。">

    <p>第六步：iTunes将会发送一封确认邮件到之前填写的邮箱中，查看电子邮件并通过邮件中提供的链接即可完成帐户注册。</p>
    <img src="http://im-img.qq.com/macqq/images/help_8.jpg?t=20120814" width="500px" height="113px" title="第六步：iTunes将会发送一封确认邮件到之前填写的邮箱中，查看电子邮件并通过邮件中提供的链接即可完成帐户注册。" alt="第六步：iTunes将会发送一封确认邮件到之前填写的邮箱中，查看电子邮件并通过邮件中提供的链接即可完成帐户注册。">

    <p>第七步：回到刚才打开的QQ for Mac的页面，点击左侧的“免费”，即完成了购买。App Store会自动将应用程序下载到电脑中。</p>
</div>
<div id="manualList2" class="detail">
  <h3>V2.4版本的数据文件升级有什么需要注意的吗？</h3>

    <p>V2.4版本的数据文件升级，将使您的数据文件更加安全，并且大幅度提升您使用QQ时，文件的读写速度。数据文件升级的过程不会影响您QQ的正常使用。<br>数据文件升级后，如果您使用低于V2.4的版本，将无法正常查看聊天记录。</p>
    
    <h3>数据文件升级后，旧的数据文件还会保留吗？</h3>

    <p>为了防止数据异常，您的旧版本数据文件仍将保留下来，位置为&lt;~/Library/Containers/com.tencent.qq/Data/Library/Application Support/QQ/您的QQ号码&gt;文件名是Msg2.0.db.history。
<br>您可以备份或者删除这个数据文件。</p>
    
    <h3>为什么V2.4版本没有新建QQ功能了呢？</h3>

    <p>由于苹果上架的相关限制，我们去除了新建QQ按钮，但保留了新建QQ的快捷键command+N，在非首次启动的情况下，您可以使用command+N来达到多帐号登录的目的。</p>

    <h3>我的系统版本是10.5.8，怎么使用最新版本的QQ for Mac呢？</h3>

    <p>您好，如果您的使用的是Intel CPU，您可以使用QQ for Mac V1.4.1版本与您的好友沟通，<a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V1.4.1.dmg" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});">点击下载</a>。V1.4.1是专为使用Intel CPU的10.5
        Leopard用户特别定制，使用更稳定，更流畅。<br>另外，您也可以从Apple在线商店获取Mac OS X v10.6.5 Snow Leopard以升级当前系统，或者通过OS X Lion
        USB闪盘直接获得Apple最新的操作系统体验，以便体验我们的最新版本。</p>

    <p class="mb15">Apple在线商店相关链接：<br>Snow Leopard：<a href="http://url.cn/2aPhDZ" target="_blank">http://url.cn/2aPhDZ </a><br>Lion：<a href="http://url.cn/1Agzjx" target="_blank">http://url.cn/1Agzjx</a></p>

    <h3>PC QQ、iPhone QQ等与QQ for Mac视频语音对话功能互通，有版本限制吗？</h3>

    <p class="mb15">QQ for Mac的语音和视频功能可以同QQ2011Beta3版本、iPhone QQ2011 1.2版本以及QQ for Pad v1.4以上版本进行互通。</p>

    <h3>如何创建讨论组？</h3>

    <p class="mb15">创建讨论组有好几个途径：<br>
        1、通过点击主面板左下角的“添加”图标选择“创建讨论组”；<br>
        2、在与好友的聊天窗口，点击“讨论组”图标以添加讨论组成员；<br>
        3、在群成员面板上，通过点击“工具”按钮“创建讨论组”或同时选择数个群内成员，通过右键菜单创建。
    </p>

    <h3>现在有很多新消息的提醒方式，不知道这些能否自定义呢？</h3>

    <p>QQ for Mac的消息提醒方式支持自定义，您可以对上方的meunbar图标，下方的Dock图标以及浮动提示框进行设置是否提示，方便您设定您习惯的消息提醒方式。</p>
    <br>
    <h3>QQ for Mac的快速登录插件怎么卸载呢？</h3>

    <p>您可以前往 /Library/Internet Plug-Ins/目录下删掉 TXSSO插件。</p>
</div>
<div id="manualList3" class="detail">
    <h3>什么是沙盒？</h3>

    <p class="mb15">
        沙盒是苹果公司推出的安全机制，应用程序采用沙盒化后，对系统以及用户更加的安全，并且加大了恶意程序入侵系统的难度。但同时，沙盒限制应用程序访问系统资源，应用程序直接访问硬件，与处理器通信，或者是获取屏幕截图均受到限制。</p>

    <h3>对QQ的影响</h3>

    <p>1、安装支持沙盒机制的V2.1版本之后，系统会将帐号信息（聊天记录等）文件迁移到系统安全位置&lt;~/Library/Containers/com.tencent.qq/Data/Library/Application
        Support/QQ&gt;，如果您退回到V2.1以前版本，则需要手动移动帐号信息文件到&lt;~/Library/Application Support/QQ/&gt;</p>

    <p>2、受到沙盒安全机制的影响，只有您将QQ移动到本地（而非dmg文件直接打开）才能正常使用新建QQ功能。</p>

    <p>3、由于沙盒对程序访问系统目录的限制，您之前设置的接收文件、保存截图位置可能无效，如果需要修改，我们会进行引导，请您放心。</p>
</div>
<div id="manualList4" class="detail">
<h3>Version 2.4.2<i>2013.7.25</i></h3>

<p class="mb15">
    解决部分未知文本信息导致的崩溃问题（建议升级）
</p>
<h3>Version 2.4.1<i>2013.5.29</i></h3>

<p class="mb15">
    修复意外断电造成聊天记录损坏的问题（建议升级）<br>
    修复临时会话图片接收失败的问题<br>
    优化与手机QQ的联动状态<br>
</p>
<h3>Version 2.4.0<i>2013.4.27</i></h3>

<p class="mb15">
    支持Emoji表情<br>
    支持网页呼起QQ会话<br>
    数据文件升级<br>
    传文件支持续传<br>
    讨论组头像优化<br>
    增加与手机qq未读消息联动<br>
    请求通知面板UI优化<br>
    修复了Retina下头像模糊的问题<br>
</p>
<h3>Version 2.3.0<i>2013.1.31</i></h3>

<p class="mb15">
    新增文件盒子功能<br>
    新增请求与通知集成面板<br>
    传文件面板界面优化<br>
    Retina下截图支持尺寸选择<br>
    截图功能可独立使用<br>
    新增快速登录插件，支持快速登录腾讯服务<br>
    修复了提取消息卡顿的问题<br>
    修复了Retina下头像模糊的问题<br>
</p>
<h3>Version 2.2.0<i>2012.11.8</i></h3>

<p class="mb15">
    会话窗口优化，支持自由改变边栏展示宽度<br>
    群会话增加头像显示<br>
    可设置气泡颜色<br>
    支持与PCQQ、手机QQ、微信互通语音消息<br>
    经典表情支持Retina屏幕<br>
    密保验证弹出逻辑优化<br>
</p>

<h3>Version 2.1.3<i>2012.8.13</i></h3>

<p class="mb15">
    修复MacQQ直接文件夹传输的问题<br>
</p>

<h3>Version 2.1.2<i>2012.8.7</i></h3>

<p class="mb15">
    全屏模式下可使用消息面板<br>
    登录时可选择登录服务器和IP地址<br>
    修复截图卡顿的bug<br>
    修复只显示在线联系人不能保存的bug<br>
    修复聊天窗口内的文字不能被复制到其他程序的bug<br>
    修复提取未读消息卡顿的bug
</p>

<h3>Version 2.1.0<i>2012.6.28</i></h3>

<p class="mb15">
    支持全新Retina屏幕<br>
    表情包支持导入导出<br>
    自定义表情支持分组存放<br>
    表情总数无限制<br>
    非会员可同步漫游记录到本地<br>
    支持查看删除服务器漫游消息<br>
    会员可设置永久漫游好友 <br>
    在线时可设置在线对其隐身<br>
    截图选取功能优化<br>
    截图增加涂鸦、文字输入功能<br>
    截图可选择设置保存地址以及格式<br>
    支持系统沙盒安全机制<br>
    局域网内传文件速度优化<br>
    解决传文件面板显示异常问题<br>
    修复程序底层隐患<br>
    截图支持多显示器截图
</p>

<h3>Version 2.0.2<i>2012.4.5</i></h3>

<p class="mb15">
    可设置在聊天窗口中显示最近历史记录<br>
    表情面板改造<br>
    支持动态头像展示<br>
    集成式聊天窗口中，拉出会话后支持合入<br>
    支持在集成式聊天窗口拖拽文字和图片到头像<br>
    增加快捷键command+I 打开资料面板<br>
    增加快捷键command+F 聚焦搜索框<br>
    主面板搜索优化<br>
    增加音效设置项<br>
    版本升级提示中增加新版本功能描述<br>
    主面板个性签名支持tips展示<br>
    聊天窗口在最小尺寸下的展现优化
</p>

<h3>Version 1.4.1<i>2012.2.10</i></h3>

<p class="mb15">
    支持intel处理器的10.5系统<br>
    <a href="http://dl_dir.qq.com/qqfile/qq/QQforMac/QQ_V1.4.1.dmg" onclick="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});" onmousedown="pgvSendClick({hottag:&quot;IMQQ.ALL.DOWNLOAD.MacQQ&quot;});">点击下载</a>
</p>

<h3>Version 2.0.0<i>2012.2.10</i></h3>

<p class="mb15">
    全新的集成式会话窗口，功能以及界面全面改版<br>
    气泡/标准 两种聊天会话展现模式<br>
    支持与iPhoneQQ、iPadQQ、Android手机QQ视频互通<br>
    全新的消息管理器，支持搜索、删除聊天记录<br>
    独立的传文件面板，功能更强大，更方便易用<br>
    退出时保存未读消息，下次登录可以阅读<br>
    工具栏图标具有酷炫的联动态功能（音、视频联动，传文件进度联动）<br>
    全新的登录界面（大头像用起来更给力哦）<br>
    消息管理器中系统消息支持还原操作；<br>
    主面板界面改进
</p>

<h3>Version 1.4.0<i>2011.11.24</i></h3>

<p class="mb15">
    在视频窗口，新增屏幕分享功能<br>
    优化增强了消息提醒<br>
    消息界面优化，提高用户体验<br>
    新增文件夹传输功能<br>
    新增空间消息提醒，最小化会话展示好友头像，图片展示自适应大小等功能
</p>

<h3>Version 1.3.0<i>2011.10.9</i></h3>

<p class="mb15">
    新增语音会话功能<br>
    全新消息通知，消息优先预览，提醒分级分类，集中快捷管理，规范偏好设置布局<br>
    传文件优化，支持同时选择批量文件，并可拖拽到聊天显示区发送<br>
    支持隐藏离线、隐身的联系人<br>
    支持拖拽图片到本地保存
</p>

<h3>Version 1.2.0<i>2011.9.1</i></h3>

<p class="mb15">
    新增QQ For Mac专属头像，支持即拍即用，可以自定义上传，更有多种美化效果<br>
    美化主面板和聊天窗口，让整体风格更加简约轻快<br>
    全面支持密保卡、密保手机、手机令牌密保登录，聊天更加安全<br>
    添加升级提醒功能<br>
    增临时会话聊天记录<br>
    群内成员快速查找功能、群共享链接等功能
</p>

<h3>Version 1.1.1<i>2011.7.15</i></h3>

<p class="mb15">
    解决了大部分的发送图片、视频、文件等崩溃问题<br>
    支持10.5系统下的视频<br>
    可以删除登录记录<br>
    解决聊天记录升级缓慢、卡死问题，解决特殊情况卡死问题<br>
    优化各个环节的资源使用<br>
    解决了部分用户反馈bug
</p>

<h3>Version 1.1.0<i>2011.6.23</i></h3>

<p class="mb15">
    新增视频聊天功能，并能随时呼出对话窗口<br>
    优化讨论组功能，可创建、退出讨论组，并支持保存讨论组聊天记录<br>
    支持通过代理登录QQ for Mac<br>
    添加表情管理功能，增加常用表情以及自定义表情功能<br>
    优化消息提醒机制
</p>

<h3>Version 1.0.0 beta2<i>2011.1.10</i></h3>

<p class="mb15">
    存放文件路径优化<br>
    优化体验，修复部分bug
</p>
</div>
</div>
</article>
</div>

<script type="text/javascript">
//浏览器判断
var Sys = {};
var ua = navigator.userAgent.toLowerCase();
var s;
(s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
    (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
            (s = ua.match(/version\/([\d.]+).*safari/)) ? (Sys.safari = s[1]) :
                ((s = ua.match(/version.([\d.]+)/)) || (s = ua.match(/opera.([\d.]+)/))) ? Sys.opera = s[1] : 0;
if (Sys.ie && parseInt(parseFloat(Sys.ie) * 10) < 90 || parseInt(parseFloat(Sys.firefox) * 10) < 40 || parseInt(parseFloat(Sys.chrome) * 10) < 100 || parseInt(parseFloat(Sys.opera) * 10) < 116 || parseInt(parseFloat(Sys.safari) * 10) < 50) {
    document.getElementById("bodyMask2").style.display = "block";
    var doc = document.documentElement;
    var body = document.body;
    document.getElementById("bodyMask2").style.height = Math.max(doc.clientHeight, body.clientHeight, doc.scrollHeight, body.scrollHeight) + 'px';
    document.getElementById("browser").style.display = "block";
    function openHtml() {
        document.getElementById("bodyMask2").style.display = "none";
        document.getElementById("browser").style.display = "none";
    }
}
;
</script>
<script src="http://im.qq.com/macqq/js/5/jquery.js?t=1.4.2?t=20120814" type="text/javascript" charset="utf-8"></script>
<script src="http://im.qq.com/macqq/js/5/jquery-ui-draggable.js?t=20120814" type="text/javascript" charset="utf-8"></script>
<script src="http://im.qq.com/macqq/js/5/jquery.slidy.min.js?t=20120814" type="text/javascript" charset="utf-8"></script>
<script src="http://im.qq.com/macqq/js/5/common.js?t=20130529" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function () {
    $("#bannerBg").Slide({//banner
        effect:"fade",
        speed:600,
        timer:5000
    });
});
</script>
<script type="text/javascript">
(function () {
    function loadScript(src, callback, err) {
        var tag = document.createElement("script");
        if (callback) {
            tag.onload = tag.onreadystatechange = function () {
                if (!this.readyState || this.readyState === "loaded" || this.readyState === "complete") {
                    callback();
                    // Handle memory leak in IE
                    tag.onload = tag.onreadystatechange = null;
                    if (tag.parentNode) {
                        tag.parentNode.removeChild(tag);
                    }
                }
            };
        }
        tag.src = src;
        document.getElementsByTagName("head")[0].appendChild(tag);
    }

    function getCookie(n) {
        var m = document.cookie.match(new RegExp("(^| )" + n + "=([^;]*)(;|$)"));
        return !m ? "" : decodeURIComponent(m[2]);
    }

    var _sname = 'nohost_guid';
    var _src = '/nohost_htdocs/js/SwitchHost.js';
    if (getCookie(_sname) != '') {
        loadScript(_src, function () {
            var init = window['SwitchHost'] && window['SwitchHost'].init;
            init && init();
        });
    }
})();
</script>
<script>
function showdownloadtips() {
document.getElementById("bodyMask").style.display = "block";
document.getElementById("downloadtips").style.display = "block";
}
function hiddendownloadtips() {
document.getElementById("bodyMask").style.display = "none";
document.getElementById("downloadtips").style.display = "none";
}
var url = window.location.href;
if (url=="http://im.qq.com/macqq/?download=1")
{
showdownloadtips();
}
</script>
<script type="text/javascript" src="http://pingjs.qq.com/tcss.ping.js"></script>
<script type="text/javascript">
if (typeof(pgvMain) == 'function')
    pgvMain();
</script>

<embed id="xunlei_com_thunder_helper_plugin_d462f475-c18e-46be-bd10-327458d045bd" type="application/thunder_download_plugin" height="0" width="0"><script type="text/javascript">var vglnk = {api_url: '//api.viglink.com/api', key: '0dff9ade2d1125af6c910069b6d6e155'};</script><script type="text/javascript" async="" src="http://cdn.viglink.com/api/vglnk.js"></script></body></html>
