{% extends "base/base.html"%}

{%block extracss%}
<link href="{{STATIC_URL}}css/new_article.css" rel="Stylesheet"/>
{%endblock%}

{%block extrajs%}
<script type="text/javascript" src="{{STATIC_URL}}js/new_article.js"></script>
<!-- tinyMCE -->
<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce-4.0.9/tinymce.min.js?v=4.0.9"></script>
{%endblock%}
{%block content%}
<div class="main">
{{id}}
{{ article.title }}
{{ article.category }} {{MEDIA_URL}} {{MEDIA_ROOT}}{{INSTALL_APPS}}
{% for para in section.paras %}
  <p>{{ para.txt }}</p>
  {%for img in para.images %}
    {{ img | safe}}
  {%endfor%}
{% endfor %}
</div>
{%endblock%}
